#!/bin/bash
service="Dkafka"
email="{{ alert_email }}"
echoerr() { printf "%s\n" "$*" >&2; }
if (( $(ps -ef | grep -v grep | grep $service | wc -l) > 0 ))
then
log=1
#echo "$service is running!!!"
else
log=1
echoerr kafka is not running
mail -s "Kakfa service is not running on {{ kafka_hostname }}" $email 
fi
